@model List<RentMovie>
@{
    ViewData["Title"] = "Checkout";
}

<h1>Receipt</h1>

<table class="table table-dark table-bordered">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th>RunTime</th>
        <th>Rental Cost</th>
    </tr>

    @foreach (RentMovie Movies in Model)
    {
        <tr>
            <td>@Movies.ID</td>
            <td>@Movies.Title</td>
            <td>@Movies.Genre</td>
            <td>@Movies.Year</td>
            <td>@Movies.RunTime</td>
            <td>@Movies.RentalCost</td>

        </tr>

    }

    <tr>
        <th>Total</th>
        @{double total = 0;}
        @foreach (RentMovie Movies in Model)
        {
            total = 1 * Movies.RentalCost + total;
        }
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Marked as Paid @total</td>
    </tr>
    <tr>
        <td>   </td>
    </tr>

</table>