@model RentMovie

@{
    ViewData["Title"] = "Result";
}

<h1>Movie @Model.Title has been registered!</h1>

<p>ID: @Model.ID</p>

<p>Title: @Model.Title</p>

<p>Genre: @Model.Genre</p>

<p>Year: @Model.Year</p>

<p>RunTime: @Model.RunTime</p>

<p>RentalCost: @Model.RentalCost</p>

