@model List<RentMovie>
@{
    ViewData["Title"] = "ToCart";
}

<h1>ToCart</h1>

<table class="table table-dark table-bordered">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th>RunTime</th>
        <th>Rental Cost</th>
    </tr>

    @foreach (RentMovie Movies in Model)
    {
        <tr>
            <td>@Movies.ID</td>
            <td>@Movies.Title</td>
            <td>@Movies.Genre</td>
            <td>@Movies.Year</td>
            <td>@Movies.RunTime</td>
            <td>@Movies.RentalCost</td>
           
        </tr>

    }

<tr>
    <th>Total</th>
    @{double total = 0;}
    @foreach (RentMovie Movies in Model)
    {
        total = Movies.Qty * Movies.RentalCost + total;
    }
    <td>@total</td>
</tr>

</table>