@model MoviesRegistration.Models.Movie

<h1>Movie @Model.Title has been registered!</h1>

<p>ID: @Model.ID</p>

<p>Name: @Model.Title</p>

<p>Year: @Model.Genre</p>

<p>ID: @Model.Year</p>

<p>Name: @Model.Actors</p>

<p>Year: @Model.Directors</p>

